@import url('https://fonts.googleapis.com/css2?family=Fauna+One&family=Roboto&display=swap');

body {
  background-color: #1E1E1E;
}

.container {
  margin: auto;
  width: 25%;
  padding: 5rem;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

#logo {
  width: 100%;
}

#logo-text {
  font-family: 'Fauna One', serif;
  font-size: 4vw;
  color: #f4f4f4;
  font-weight: normal;
}